
.card {
    font-family:serif;
    position: relative;
    background-color: black;
}

.cardText {
    width:16px;
    font-family:FZJZ;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.container{
    position: absolute;
    left: 253px;
    top: 325px;
    height: 250px;
    width: 1093px;
    display: flex;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:auto;
    justify-content: space-between;  
}
