.block{
    position: absolute;
    width: 624px;
    height: 334px;
    left: 328px;
    top: 144px;
    
    color: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
}
.block2{
    position: absolute;
    width: 340px;
    height: 100px;
    left: 470px;
    top: 500px;
}
.block3{
    position: absolute;
    width: 912px;
    height: 50px;
    left: 180px;
    top: 508px;
}
.block5{
    position: absolute;
    width: 612px;
    height: 50px;
    left: 328px;
    top: 510px;
    opacity: 0.9;
}
.progress-box {
  position: absolute;
  padding: 15px;
  width: 980px;
  left: 128px;
  top: 590px;

}
.progress-box1 {
    position: absolute;
    padding: 15px;
    width: 990px;
    left: 123px;
    top: 588px;
  
  }
.progress-group {
    width: 100%;
    height: 18px;
    position: relative;
    
}
.progress-bg {
      width: 0px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #a31f24;
}
span {
      position: absolute;
}
  
button {
    margin-top: 20px;
}
.tryPos{
    position: absolute;
    left: 0px;
    top: 100px;
}
