.matchPos1{
    position: absolute;
    left: 26.11%;
    right: 60.74%;
    top: 14.45%;
    bottom: 14.13%;
} 
.matchPos2{
    position: absolute;
    left: 60.13%;
    right: 26.72%;
    top: 14.45%;
    bottom: 14.13%;
} 